<% layout("layouts/boilerplate.ejs") %>

<h3>Edit your Listing</h3>
<form action="/listings/<%= listing._id %>?_method=PUT" method="POST">

   <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input name="title"
     type="text" 
     value="<%= listing.title %>"
     class="form-control"/>
   </div>

    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <textarea name="description"><%= listing.description %></textarea>
    </div>


    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="image" type="text" value="<%= listing.image %>">
    </div> 
    

    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="price" type="number" value="<%= listing.price %>">
    </div>

    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="location" type="text" value="<%= listing.location %>">
    </div>


    <button type="submit">Update</button>
</form>

    
    
    
    
    
    
    
    
   
    
    
    

    