<% layout("/layouts/boilerplate.ejs") %>

<div class="row mt-4">
    <div class="col-8 offset-2">

    </div>
    <h3>Listing Details</h3>

    <div class="card col-5 offset-1.3 show-card">
        <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing-image">
        <div class="card-body">
            <p class="card-text">
           <b><%=listing.title%> </b> </p>
           <li><%=listing.description%> </li>
           <li>&#8377 <%=listing.price.toLocaleString("en-IN")%></li>
           <li><%=listing.location%></li> 
           <li><%=listing.country%></li>

        </div>
    </div>


    
    <br><br>
   
    

<div class="btns">
    <a href="/listings/<%= listing._id%>/edit" 
        class="btn btn-dark col-0.5 offset-1  "
        >Edit </a>
    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
        <button class="btn btn-dark  offset-3 ">Delete </button>
    </form>
   
 </div>
</div>